# 🔹 Virtuelle Umgebung (Python venv)
env/
venv/

# 🔹 Python-Caches & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Django-Konfigurationsdateien
db.sqlite3  # Falls du SQLite nutzt
*.sqlite3
*.log  # Falls du Log-Dateien generierst

# 🔹 Medien- & statische Dateien
/media/
staticfiles/
static/

# 🔹 Umgebungsvariablen (Geheime Schlüssel, API-Keys)
.env
.env.local
.env.*.local
